{
  "env": {
    "node": true
  },

  "parserOptions": {
    ecmaVersion: 2016,
    sourceType: 'commonjs',
  },

  "extends": "airbnb-base",

  "rules": {
    "comma-dangle": 0,
    "func-names": 0,
    "lines-around-directive": 0,
    "no-var": 0,
    "object-shorthand": 0,
    "prefer-template": 0,
    "space-before-function-paren": 0,
    "vars-on-top": 0,

    "import/no-extraneous-dependencies": ["error", {
      devDependencies: true,
      optionalDependencies: false,
    }],
  }
}
